@font-face {
    font-family: 'robotoregular';
    src: url('../assets/fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*
{
    font-family: "robotoregular";
}

:root
{
    --title-size:48px;
    --main-margin: 10vw;
    --card-width: calc(100% - (2 * var(--main-margin)))
}

html,body
{
    margin:0px;
}

header
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:0.5rem;
    margin: 32px;
}

header .my-picture
{
    width:320px;
}

.about-title
{
    margin-top: 24px;
    margin-bottom: 12px;
    font-size: var(--title-size);
    font-weight: lighter;
}

.about-info
{
    margin: 0px;
}

.contacts-container
{
    display: flex;
    align-items: center;
    gap:3rem;
}

header .icon
{
    width:32px;
    fill:black;
}

main
{
    margin:32px var(--main-margin);
    margin-top: 24px;
}

.main-title
{
    text-align: center;
    font-size: var(--title-size);
    font-weight: lighter;
}

.cards-container
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--card-width), 1fr));
    gap:70px;
}

.project-card
{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.project-img
{
    width:100%;
    height:auto;
}

.project-info
{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    padding: 12px 24px;
    height:150px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.project-info .name
{
    font-size: 28px;
}

.name-and-links-container
{
    display: flex;
    justify-content: space-between;
}

.links-container
{
    display: flex;
    gap:1rem;
}

.project-info .icon
{
    width: 24px;
}

footer
{
    --footer-margin:24px;
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    gap:2rem;
    background-color: #0891B2;
    color: white;
}

.address
{
    margin:12px var(--footer-margin);
}

.footer-title
{
    font-size: 48px;
    margin: 0px;
    font-weight: lighter;
    text-align: center;
}

.contacts-container
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 12px var(--footer-margin);
    gap:1rem;
}

.social-links
{
    display: flex;
    align-self: center;
    gap:1rem;
}

.contacts-container .icon
{
    width: 40px;
}

.footer .my-picture
{
    
}
